@charset "UTF-*";

/*
 Paleta de cores

 Verde : #49a09d
 Lilás : #5f2c82
*/

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main{
    /*position: relative; Para fazer a centralizaçao do elemento interno*/
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{

    /*Centralização do menu de login. Obs: A camada externa(no caso o main), deve ter position: relative;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
/*------------------------------------------*/
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

section#login > div#imagem{
    display: block;
    background: #5f2c82 url(../imagens/fachada-m.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}